# Global attributes for forcing line endings normalization of specific files

* text=auto

# Git configs
.gitattributes text eol=lf encoding=utf-8

# Markdown documents
*.md text eol=crlf encoding=utf-8

# JSON configs
*.json text eol=crlf encoding=utf-8
